{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Gallery {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/dropzone/dropzone-5.7.0/dist/basic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/dropzone/dropzone-5.7.0/dist/dropzone.css' %}">
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Gallery
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/apps/static"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-body" bis_skin_checked="1">
                        <div class="page-wrapper" bis_skin_checked="1">
                            <!-- [ Main Content ] start -->
                            <div class="row" bis_skin_checked="1">
                                <!-- [ Gallery-Grid ] start -->
                                <div class="col-sm-12" bis_skin_checked="1">
                                    <div class="card" bis_skin_checked="1">
                                        <div class="card-header" bis_skin_checked="1">
                                            <h5>Barangay Photos</h5>
                                            {#                                            <a href="{% url 'gallery_upload' %}" class="btn btn-outline-primary float-right"><i class="fas fa-plus"></i> Upload Photo</a>#}
                                            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">
                                                Upload Photos
                                            </button>
                                        </div>
                                        <div class="card-block" bis_skin_checked="1">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="row" bis_skin_checked="1">

                                                {% for photo in gallery %}
                                                    <div class="col-lg-4 col-sm-6" bis_skin_checked="1">
                                                        <div class="thumbnail mb-4" bis_skin_checked="1">
                                                            <div class="thumb" bis_skin_checked="1">
                                                                <a data-lightbox="{{ photo.photo.url }}"><img style="height: 350px; width: 650px; object-fit: cover" src="{{ photo.photo.url }}" class="img-fluid img-thumbnail m-b-10" alt=""></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Gallery-Grid ] end -->
                            </div>
                            <!-- [ Main Content ] end -->

                            <div class="modal fade modal-lightbox" id="lightboxModal" tabindex="-1" aria-labelledby="lightboxModalLabel" bis_skin_checked="1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" bis_skin_checked="1">
                                    <div class="modal-content border-0" bis_skin_checked="1">
                                        <button type=" button" class="btn-close btn-close-white position-absolute bottom-100 start-100 translate-middle1" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <div class="modal-body p-0" bis_skin_checked="1">
                                            <img src="#" alt="images" class="modal-image img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'dropzone-image' %}" id="dropzone" class="dropzone" accept-charset="UTF-8" method="POST">
                        {% csrf_token %}
                        <div class="dz-message">Click or drop images to upload</div>
                    </form>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn-upload" type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{% static 'assets/plugins/dropzone/dropzone-5.7.0/dist/dropzone.js' %}"></script>
    <script>
        Dropzone.autoDiscover = false;

        var myDropzone = new Dropzone("#dropzone", {
            autoProcessQueue: false,
            parallelUploads: 100, // Number of files process at a time (default 2)
            maxFiles: 100,
            maxFilesize: 10, // MB
            acceptedFiles: ".jpeg,.jpg,.png,.gif",
            addRemoveLinks: true,
            dictRemoveFile: "Remove",
            success: function (file, response) {
                $('#exampleModalCenter').modal('hide');
                location.reload();
            },
        });

        $('#btn-upload').click(function(){
            myDropzone.processQueue();
        });
    </script>
    <script>
        var lightboxModal = new bootstrap.Modal(document.getElementById('lightboxModal'));
        var elem = document.querySelectorAll("[data-lightbox]");
        for (var j = 0; j < elem.length; j++) {
            elem[j].addEventListener('click', function () {
                var imagespath = event.target;
                if (imagespath.tagName == "IMG") {
                    imagespath = imagespath.parentNode;
                }
                var recipient = imagespath.getAttribute('data-lightbox');
                var image = document.querySelector('.modal-image');
                image.setAttribute('src', recipient);
                lightboxModal.show();
            });
        }

        function removeClassByPrefix(node, prefix) {
            for (let i = 0; i < node.classList.length; i++) {
                let value = node.classList[i];
                if (value.startsWith(prefix)) {
                    node.classList.remove(value);
                }
            }
        }
    </script>

    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(300, 0).slideUp(300, function(){
                $(this).remove();
            });
        }, 3000);
    </script>
    <script>
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = 'New message to ' + recipient
            modalBodyInput.value = recipient
        })
    </script>
{% endblock javascripts %}
