{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Gallery {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/dropzone/dropzone-5.7.0/dist/basic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/dropzone/dropzone-5.7.0/dist/dropzone.css' %}">
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Gallery
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'gallery' %}">Barangay Photos</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Add Photo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <!-- [ file-upload ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>File Upload</h5>
                                    </div>
                                    <div class="card-body">
                                        <form action="{% url 'dropzone-image' %}" id="DidDropzone" class="dropzone" accept-charset="UTF-8" method="POST">
                                            {% csrf_token %}
                                            <div class="dz-message">Click or drop images to upload</div>
                                        </form>
                                        <br>
                                        <button id="image-btn" type="submit" >Add images</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="{% static 'assets/plugins/dropzone/dropzone-5.7.0/dist/dropzone.js' %}"></script>
    <script>
        Dropzone.options.DidDropzone = {
            maxFileSize : 4,
            parallelUploads : 10,
            uploadMultiple: true,
            autoProcessQueue : false,
            addRemoveLinks : true,
            init: function() {
                var submitButton = document.querySelector("#image-btn")
                myDropzone = this; // closure
                myDropzone = this;
                submitButton.addEventListener("click", function() {
                    myDropzone.processQueue();
                });
                myDropzone.on("addedfile", function(file) {
                    if (!file.type.match(/image.*/)) {
                        if(file.type.match(/application.zip/)){
                            myDropzone.emit("thumbnail", file, "path/to/img");
                        } else {
                            myDropzone.emit("thumbnail", file, "path/to/img");
                        }
                    }
                });
                myDropzone.on("complete", function(file) {
                    myDropzone.removeFile(file);
                });
            },
        };
    </script>

{% endblock javascripts %}
