asgiref
autopep8
certifi
cffi
charset-normalizer
colorclass
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-axes
django-environ
django-ipware
django-sslserver
docopt
gunicorn
idna
oauthlib
packaging
Pillow
pip-upgrader
pycodestyle
pycparser
PyJWT
pyparsing
python3-openid
pytz
requests
requests-oauthlib
sqlparse
terminaltables
toml
tomli
twilio
urllib3
whitenoise
