
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Brgy Masili</title>
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="user_static/styles.css" rel="stylesheet" />
        <!-- swiper-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <img class="w-100" src="media/brgy_logo/logo.png">
                <a class="navbar-brand" href="#page-top">Brgy Masili</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#page-top">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Account">Account</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <!-- Slider main container -->
                  <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->

                    {% for photo in photos %}
                        <div class="swiper-slide">
                            <img src="{{ photo.photo.url }}" alt="">             
                            <h2 class="Slidetext">{{ photo.caption }}</h2>      
                        </div>
                    {% endfor %}
                    ...
                  </div>
                  <!--pagination -->
                  <div class="swiper-pagination"></div>
          
                  <!-- navigation buttons -->
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
          
                </div>
              </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Service</h2>
                <hr class="divider" />
                <div class="row gx-3 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Documents</h3>
                            <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Up to Date</h3>
                            <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Ready to Publish</h3>
                            <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Made with Love</h3>
                            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="images/disinfection.jpg" title="Disinfection">
                            <img class="img-fluid" src="images/disinfection.jpg" alt="">
                            <div class="portfolio-box-caption">
                                <div class="project-name">Disinfection</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="images/BrgyAsenso.jpg" title="Brgy Asenso">
                            <img class="img-fluid" src="images/BrgyAsenso.jpg" alt="..." />
                            <div class="portfolio-box-caption">             
                                <div class="project-name">Brgy Asenso</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="images/Tupad-proj.jpg" title="Tupad Project">
                            <img class="img-fluid" src="images/Tupad-proj.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Tupad Project</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="images/Ayuda.jpg" title="Bigay Ayuda">
                            <img class="img-fluid" src="images/Ayuda.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-name">Bigay Ayuda</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="images/medic.jpg" title="Medical Mission">
                            <img class="img-fluid" src="images/medic.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-name">Medical Mission</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="images/Vaccine.jpg" title="Covid-Vaccine">
                            <img class="img-fluid" src="images/Vaccine.jpg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-name">Covid-Vaccine</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="info">Bilang Ng Tao</div>
                <div class="row gx-4 gx-lg-0 justify-content-right">
                    <div class="col-lg-7 text-center">
                        <h1 class="text-white mt-0">Maikling Kasaysayan:</h1>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Ang unang pangalan ng Masili ay “SUMILE” na hinango sa salitng  “SUMILANG” na ang kahulugan ang bagong           silang dahil sa ito ay bagong litaw na pook. 
                            Ang Sumile ay dating bahagi ng Nayon ng Sucol, ito ay magubat, tubo ang pangunahing pananim at may ilang           puno ng niyog. Humiwalay lamang ito ng mag daos ng sariling pista sa nayon. 
                            Ayon sa mga taga-Sumile malaki rin naman ang ambag nila sa pista ng Sucol at ngayong sa kanila (Sucol)             naman ginawa ang misa at hiniling nilang sa tabing-dagat ng Sumile naman idaos ang eksibisyon ng mga               musikero. 
                            Subalit ito ay tinutulang ng mga taga-Sucol kaya’t ng sumunod na pista ay ipinakuha kay Marcos Herbosa             (kaisa-isang anak na lalaki ni Ysidoro) mula sa simbahan ng Sucol ang ibinigay nilang malaking kampana. 
                            Nag-sarili nalamang sila at pumili na rin ng kanilang taga-Pangulo. 
                            Ito ay naganap noong taong 1926.</p>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Ang sumunod na pinuno ng nayon kay G. Ysidoro Herbosa ay si G. Eugenio Gonzalez, 
                            Upang magamit ng mga mamamayan ang daang riles ay hiniling ng mga naninirahan sa nayon sa pangunguna ng            Punong Nayon na kung maaari ay mag tayo ng estasyon ng tren sa nayon upang maserbisyuhan ang mga mamamayan          don. 
                            Noon ay marami-rami na ring tao ang mga naninirahan sa nayon. 
                            Sa tulong ni Hernan Roldan (pamangkin ni Martina Herbosa) ay pinaunlakan naman ang kahilingan. Nang                itanong kung anong pangalan ng nayon ay may nag sabing “SUMILE” subalit sa hindi malamang dahilan nang              dumating ang karatulang ilalagay sa estasyon ay “MASILI” nakatitik at wala namang nagreklamo. 
                            Doon nag simulang tawaging “MASILE” ang nasabing nayon na siya na ring tawag magpahanggang ngayon.</p>
                        <!--a class="btn btn-light btn-xl" href="#services">Get Started!</a-->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container gx-0 gx-lg-0">
                <div class="map">
                    <h1>Masili Location</h1>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7736.407289339509!2d121.19852192503336!3d14.182847512109602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd613926c4267f%3A0x62fd88e8affa6ac1!2sMasili%2C%20Real%2C%20Calamba%2C%20Laguna!5e0!3m2!1sfil!2sph!4v1669042628362!5m2!1sfil!2sph" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
                <div class="contact-con px-4 px-lg-5"></div>
                    <div class="gx-0 gx-lg-0 justify-content-left">
                        <div class="col-lg-8 col-xl-6 text-center">
                            <h2 class="mt-0">BARANGAY MASILI DIRECTORY</h2> 
                            <p class="text-muted mb-5">MASILI BARANGAY HALL:</p>
                            <hr class="divider" />
                            <i class="bi-phone fs-4 mb-1 text-muted"></i>
                            <p>(049) 502-9459 / 09070785924</p>
                            <i class="bi-envelope fs-4 mb-1 text-muted"></i>
                            <p>barangaymasili.calamba@gmail.com</p>
                        </div>                    
                    </div>
                </div>
                
                
            </div>
            
        </section>
        <!-- Brgy emergency contacts-->
        <section class="page-section bg-dark text-white">
            <div class="container">
                <div class="logo-end">
                    <img src="images/logo.png" height="370px" width="400px" alt="Brgy Masili">
                </div>
                <h1>Emergency Hotlines</h1>
                <p>CALAMBA CITY HALL:&emsp;&emsp;&emsp;&emsp;545-6789<br>
                    <br>EMERGENCY CONTACT NUMBERS:
                    <br>FIRE DEPARTMENT&emsp;&emsp;&emsp;&emsp;&emsp;545-1695/545-6789(8601)
                    <br>PNP&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;545-1695/545-6789(8701)
                    <br>POSO-LDRMMD HOTLINE&emsp;&emsp;0917-148-9813
                    <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;545-6789(1036-8025)
                    <br>LDRRMD&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;545-4119/545-6789(1023-1021)
                    <br>CITY HEALTH OFFICE&emsp;&emsp;&emsp;&emsp;545-6597/545-6789(8016)<br>
                    <br>VAW/C-Violence against Women and Children
                    <br>0909-341-2375
                </p>
               

                
                    
                        
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">&copy; 2022 - Calamba City,Laguna | Brgy Masili</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <!--Swiper Script-->>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script>
            const swiper = new Swiper('.swiper', {
              autoplay: {
                delay: 3000,
                
              },
            loop: true,
          
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
      
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          
          });</script>
    </body>

