{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-md-6 col-xl-3">
                                    <div class="card order-card" style="background-color: #17a2b8">
                                        <div class="card-body" style="padding-bottom: 20px">
                                            <h4 class="text-white">Total Population</h4>
                                            <h1 class="text-end text-white"><i class="fas fa-users float-right"></i><span>0000</span></h1>
                                            <hr style="border:1px solid white">
                                            <a href="#"><h5 class="text-white m-b-0 text-center">More info <i class="fas fa-arrow-circle-right m-l-5"></i> </h5></a>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="col-sm-5 mb-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>PAGLALARAWAN NG BARANGAY</h5>
                                        </div>

                                        <div class="card-block">
                                            <div class="card">
                                                <div class="map">
                                                    <h1>Brgy Masili Location</h1>
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7736.407289339509!2d121.19852192503336!3d14.182847512109602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd613926c4267f%3A0x62fd88e8affa6ac1!2sMasili%2C%20Real%2C%20Calamba%2C%20Laguna!5e0!3m2!1sfil!2sph!4v1669042628362!5m2!1sfil!2sph" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                </div>
                                                    <div class="card-body-history">
                                                        <h1>Maikling Kasaysayan:</h1>
                                                        <h6>Ang unang pangalan ng Masili ay “SUMILE” na hinango sa salitng “SUMILANG” na ang kahulugan ang bagong silang dahil sa ito ay bagong litaw na pook. 
                                                            Ang Sumile ay dating bahagi ng Nayon ng Sucol, ito ay magubat, tubo ang pangunahing pananim at may ilang puno ng niyog. Humiwalay lamang ito ng mag daos ng sariling pista sa nayon. 
                                                            Ayon sa mga taga-Sumile malaki rin naman ang ambag nila sa pista ng Sucol at ngayong sa kanila (Sucol) naman ginawa ang misa at hiniling nilang sa tabing-dagat ng Sumile naman idaos ang eksibisyon ng mga musikero. 
                                                            Subalit ito ay tinutulang ng mga taga-Sucol kaya’t ng sumunod na pista ay ipinakuha kay Marcos Herbosa (kaisa-isang anak na lalaki ni Ysidoro) mula sa simbahan ng Sucol ang ibinigay nilang malaking kampana. 
                                                            Nag-sarili nalamang sila at pumili na rin ng kanilang taga-Pangulo. 
                                                            Ito ay naganap noong taong 1926.
                                                        </h6>
                                                        <h6>Ang sumunod na pinuno ng nayon kay G. Ysidoro Herbosa ay si G. Eugenio Gonzalez, 
                                                            Upang magamit ng mga mamamayan ang daang riles ay hiniling ng mga naninirahan sa nayon sa pangunguna ng Punong Nayon na kung maaari ay mag tayo ng estasyon ng tren sa nayon upang maserbisyuhan ang mga mamamayan don. 
                                                            Noon ay marami-rami na ring tao ang mga naninirahan sa nayon. 
                                                            Sa tulong ni Hernan Roldan (pamangkin ni Martina Herbosa) ay pinaunlakan naman ang kahilingan. Nang itanong kung anong pangalan ng nayon ay may nag sabing “SUMILE” subalit sa hindi malamang dahilan nang dumating ang karatulang ilalagay sa estasyon ay “MASILI” nakatitik 
                                                            at wala namang nagreklamo. 
                                                            Doon nag simulang tawaging “MASILE” ang nasabing nayon na siya na ring tawag magpahanggang ngayon.</h6>
                                                
                                                    </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}