{% extends "layouts/base.html" %}

{% block title %} Announcement {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Organizations
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'organizations' %}">List of Announcements</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">
                                            {% if 'add' in segment %}
                                                Add
                                            {% else %}
                                                Update
                                            {% endif %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Announcement Content</h5>
                                        </div>
                                        <div class="card-block">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="row">

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Title</label>
                                                        {{ form.title }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Content</label>
                                                        {{ form.content }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group row">
                                                        <div class="col-sm-2">
                                                            <label>Send To:</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            {% if 'for_approval' in segment %}
                                                                <input class="form-control" type="text" readonly value="{{ announcement.send_to }}">
                                                            {% else %}
                                                                <select name="recipient" class="form-control">
                                                                    <option value="ALL">ALL</option>
                                                                    {% for org in organization %}
                                                                        <option value="{{ org.org_name }}">{{ org.org_name }}</option>
                                                                    {% endfor %}
                                                                    {% for purok in puroks %}
                                                                        <option value="{{ purok.name }}">{{ purok.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2 mt-2">
                                                    <div class="form-group">
                                                        {% if request.user.profile.account_type == 'CHAIRMAN' and 'for_approval' in segment %}
                                                            <a href="{% url 'announcement_approve' announcement.id %}" class="btn btn-primary text-white float-right"><i class="feather icon-thumbs-up"></i> Approve</a>
                                                            <a href='{% url 'announcements' opt='pending' %}' class="btn btn-light float-right"><i class="fa fa-arrow-left"></i> Back</a>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-primary float-right">
                                                                <i class="fa fa-save"></i>
                                                                {% if 'add' in segment %}
                                                                    Save
                                                                {% else %}
                                                                    Update
                                                                {% endif %}
                                                            </button>
                                                            <a href='{% url 'announcements' opt='all' %}' class="btn btn-light float-right"><i class="fa fa-arrow-left"></i> Back</a>

                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
