{% extends "layouts/base.html" %}

{% block title %} Resident {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .border-start {
            border-left: 1px solid #dee2e6!important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Resident
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'hotlines' %}">List of Officials</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">
                                            View - {{ resident.res_id }}
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-xl-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Resident Information</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row mb-3 align-items-center">
                                                <div class="col-sm-3 text-center">
                                                    <img src="{{ resident.photo.url }}" alt="Official Photo" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="col-sm-9 border-start">
                                                    <h3 class="mb-5">{{ resident.fname }}&nbsp;{{ resident.mname }}&nbsp;{{ resident.lname }}&nbsp;{{ resident.ext_name }}</h3>
                                                    <table class="table table-borderless w-75">
                                                        <tbody>
                                                        <tr>
                                                            <td>Gender</td>
                                                            <td>:</td>
                                                            <td>{{ resident.gender }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Birthdate</td>
                                                            <td>:</td>
                                                            <td>{{ resident.bdate }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Religion</td>
                                                            <td>:</td>
                                                            <td>{{ resident.religion }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Civil Status</td>
                                                            <td>:</td>
                                                            <td>{{ resident.civil_status }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Occupation</td>
                                                            <td>:</td>
                                                            <td>{{ resident.occupation }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Address</td>
                                                            <td>:</td>
                                                            <td>{{ resident.purok }}, {{ resident.address_line1 }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Contact</td>
                                                            <td>:</td>
                                                            <td>{{ resident.phone_no1 }}
                                                                {% if resident.phone_no2 != '' %}
                                                                    , {{ resident.phone_no2 }}
                                                                {% endif %}<br>{{ resident.email }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Residence Status</td>
                                                            <td>:</td>
                                                            <td>{{ resident.status }}</td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mb-2 mt-2">
                                                <div class="form-group">
                                                    <a href="{% url 'resident_edit' resident.id %}" class="btn btn-primary float-right">
                                                        <i class="fa fa-save"></i> Update
                                                    </a>
                                                    <a href="{% url 'residents' %}" class="btn btn-light float-right"><i class="fa fa-arrow-left"></i> Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Organization Membership</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="content">
                                                <ul>
                                                    {% for membership in membership %}
                                                        <li>{{ membership }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
