{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Certificates {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/style.min.css' %}">
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Issued Certificates</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">List of Issued Certificates</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-xl-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Statistics</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="card order-card bg-c-blue" bis_skin_checked="1">
                                                <div class="card-body" style="padding-bottom: 20px" bis_skin_checked="1">
                                                    <h4 class="text-white">Issued Certificates</h4>
                                                    <h1 class="text-end text-white"><i class="fas fa-file-alt float-right"></i><span>{{ issued }}</span></h1>
                                                </div>
                                            </div>

                                            <div class="card order-card bg-c-red" bis_skin_checked="1" id="_pending">
                                                <div class="card-body" style="padding-bottom: 20px" bis_skin_checked="1">
                                                    <h4 class="text-white">Pending Certificates</h4>
                                                    <h1 class="text-end text-white"><i class="fas fa-file float-right"></i><span>{{ pending }}</span></h1>
                                                </div>
                                            </div>
                                            {#                                            <hr class="my-1">#}
{#                                            <br>#}
{#                                            <table class="table table-borderless mb-0">#}
{#                                                <tbody>#}
{#                                                <tr>#}
{#                                                    <td>Certificate of Indigency</td>#}
{#                                                    <td>:</td>#}
{#                                                    <td><h5>{{ indigency }}</h5></td>#}
{#                                                </tr>#}
{#                                                <tr>#}
{#                                                    <td>Pagpapatunay na Live-in</td>#}
{#                                                    <td>:</td>#}
{#                                                    <td><h5>{{ livein }}</h5></td>#}
{#                                                </tr>#}
{#                                                <tr></tr>#}
{#                                                </tbody>#}
{#                                            </table>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>List</h5>
                                            <a href="#" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus"></i>New Certificate</a>
                                        </div>
                                        <div class="card-block table-border-style">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="table-responsive">
                                                <table id="example1" class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Transaction Number</th>
{#                                                        <th>Type of Certificate</th>#}
                                                        <th>Requestor</th>
                                                        <th>Date of Transaction</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for certificate in certificates %}
                                                        <tr>
                                                            <td>{{ certificate.transaction_number }}</td>
{#                                                            <td>{{ certificate.certificate_type }}</td>#}
                                                            <td>{{ certificate.requestor }}</td>
                                                            <td>{{ certificate.request_date }}</td>
                                                            <td>
                                                                {% if certificate.status == 'ISSUED' %}
                                                                    <p><i class="fas fa-circle text-c-blue f-10"></i>&nbsp;ISSUED</p>
                                                                {% else %}
                                                                    <p><i class="fas fa-circle text-c-red f-10"></i>&nbsp;PENDING</p>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-icon btn-outline-primary" href="{% if certificate.certificate_type == 'INDIGENCY' %}{% url 'cert_indigency' certificate.id %}{% endif %}" title="View"><i class="feather icon-eye"></i></a>
                                                                <a class="btn btn-icon btn-outline-primary" href="{% url 'issued_certificates' certificate.id %}" title="Issued"><i class="feather icon-check-circle"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Type of Certificate</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-30 text-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card order-card bg-c-blue" bis_skin_checked="1">
                                <a href="{% url 'indigency_add' %}" class="card-body">
                                    <h4 class="text-white">Certificate of Indigency</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="card order-card bg-c-purple" bis_skin_checked="1">
                                <div class="card-body">
                                    <h4 class="text-white">Pagpapatunay na Live-in</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- [ Main Content ] end -->
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "paging": true, 'order':[0, 'desc'], 'dom': 'Bfrtip',
                buttons:[
                    {#{#}
                    {#    extend: 'colvis',#}
                    {#    text: 'Column Visibility'#}

                    {
                        text: 'All Certificates',
                        action: function(e, dt, node,  config){
                            dt.search('').columns().search('').draw();
                        }
                    },
                    {
                        text: 'Pending',
                        action: function(e, dt, node,  config){
                            var search = 'PENDING',
                                regex = '\\b' + search + '\\b';
                            dt.columns(4).search(regex, true, false).draw();
                        }
                    },
                    {
                        text: 'Issued',
                        action: function(e, dt, node,  config){
                            var search = 'ISSUED',
                                regex = '\\b' + search + '\\b';
                            dt.columns(4).search(regex, true, false).draw();
                        }
                    },


                ],
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>
        //close alert after 3 seconds
        window.setTimeout(function() {
            $(".alert").fadeTo(300, 0).slideUp(300, function(){
                $(this).remove();
            });
        }, 3000);

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        function printDiv(divName){
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;

        }
    </script>
{% endblock javascripts %}
