{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img src="{% static 'media/brgy_logo/logo.png' %}">
                    </div>

                    <h3 class="mb-4">Masili Portal</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                            Please the OTP code sent to your email, {{ email }}
                        {% endif %}
                    </span>

                    <br />
                    <br />

                    <form role="form" method="post" action="">

                        {% csrf_token %}

                        <div class="input-group mb-3">
                            {{ form.otp }}
                        </div>

                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Continue</button>
                    </form>



                    <p class="mb-3 text-muted">Return to <a href="{% url 'login' %}" >Login</a></p>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="{% url 'register' %}" >Sign up</a></p>

                    <br />
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'assets/plugins/imask.min.js' %}"></script>
    <script>
        var regExpMask = IMask(document.querySelector('.num_input'),{ mask:'00000000000' });
    </script>
{% endblock %}
