{% extends "layouts/base.html" %}

{% block title %} Business Permit {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Business Permit
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'business_permit' %}">List of Business Permit</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Add</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-xl-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Business Permit</h5>
                                            <h6 class="float-right">Transaction No: {{ transaction_no }}</h6>
                                        </div>
                                        <div class="card-block">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="">
                                                {{ form.as_p }}

                                            </div>
                                            <div class="col-sm-12 mb-2 mt-2">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary float-right" id="btn_button">
                                                        <i id="spinner" class="fas fa-save"></i>Create
                                                    </button>
                                                    {#                                                        <button type="submit" hidden id="btn_submit"></button>#}

                                                    <a href='{% url 'business_permit' %}' class="btn btn-light float-right"><i class="fa fa-arrow-left"></i> Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#customCheckc1').click(function(){
                if($(this).is(':checked')){
                    $('#requestor').val($('#fullname').val());
                }else{
                    $('#requestor').val('');
                }
            });
        });
    </script>
{% endblock javascripts %}
