{% extends "layouts/base.html" %}

{% block title %} Ordinance {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    {{ form.media }}
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Ordinance
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'ordinances' %}">List of Ordinances</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">
                                            {% if 'add' in segment %}
                                                Add
                                            {% else %}
                                                Update
                                            {% endif %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Ordinance No: <b class="f-18">{{ ordinance_no }}</b></h5>
                                        </div>
                                        <div class="card-block">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="row">

                                                <div class="col-lg-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Title</label>
                                                        {{ form.title }}
                                                    </div>
                                                </div>


                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Presiding Officer</label>
                                                            <select name="presiding" class="form-control">
                                                                {% for officer in officials %}
                                                                    <option value="{{ officer.fname }}&nbsp;{{ officer.lname }}">{{ officer.fname }}&nbsp;{{ officer.lname }}</option>
                                                                {% endfor %}
                                                            </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Provisions</label>
                                                        {{ form.provisions }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Files/Documents</label>
                                                        {{ form.files }}
                                                    </div>
                                                </div>


                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Attested By:</label>
                                                        {{ form.attested_by }}
                                                        <p class="text-muted">Separate name by comma (,)</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        {{ form.status }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2 mt-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary float-right">
                                                            <i class="fa fa-save"></i>
                                                            {% if 'add' in segment %}
                                                                Save
                                                            {% elif 'edit' in segment %}
                                                                Update
                                                            {% endif %}
                                                        </button>
                                                        <a href='{% url 'ordinances' %}' class="btn btn-light float-right"><i class="fa fa-arrow-left"></i> Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
