{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Accounts {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/style.min.css' %}">
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Accounts Management</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        {% if 'account_type' in segment %}
                                            <li class="breadcrumb-item"><a href="{% url 'accounts' %}">List of Accounts</a></li>
                                            <li class="breadcrumb-item"><a href="#">Change Account Type</a></li>
                                        {% else %}
                                            <li class="breadcrumb-item"><a href="{% url 'account_approval' %}">List of Accounts</a></li>
                                            <li class="breadcrumb-item"><a href="#">Approve</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Account : {{ account.email }}</h5>
                                        </div>
                                        <div class="card-body">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" value="{{ account.email }}" disabled>
                                            </div>

                                            <div class="form-group">
                                                <label>Fullname</label>
                                                <input type="text" class="form-control" value="{{ account.first_name }}&nbsp;{{ account.last_name }}" disabled>
                                            </div>

                                            <div class="form-group">
                                                <label>Birthdate</label>
                                                <input type="text" class="form-control" value="{{ account.profile.birthdate }}" disabled>
                                            </div>
                                            <br>
                                            <form method="post">
                                                {% csrf_token %}

                                                {% if 'account_type' in segment %}
                                                    <hr>
                                                    <div class="form-group">
                                                        <label>Current Account Type</label>
                                                        <input type="text" class="form-control" value="{{ account.profile.account_type}}" disabled>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-label">Account Type</label>
                                                        {{ form.account_type }}
                                                    </div>

                                                    <button type="submit" class="btn btn-primary float-right"><i class="fas fa-save"></i> Save</button>
                                                    <a href="{% url 'accounts' %}" class="btn btn-light float-right"><i class="fas fa-arrow-left"></i> Back</a>
                                                {% else %}
                                                    <button type="submit" class="btn btn-primary float-right"><i class="fas fa-shield-alt"></i> Approve</button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                {% if 'acc_forApproval' in segment %}
                                    <div class="col-lg-5">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>MATCH DATA FROM RESIDENTS DATABASE</h5>
                                            </div>
                                            <div class="card-body">
                                                {% if resident is None %}
                                                    <h5>No matching data from the residents database</h5>
                                                {% else %}
                                                    <div class="col-lg-12 text-center">
                                                        <img src="{{ resident.photo.url }}" class="img-fluid w-25" alt="Responsive image">
                                                    </div>
                                                    <div class="col-lg-12 mt-2">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Full Name</td>
                                                                    <td>:</td>
                                                                    <td>{{ resident.fname }} {{ resident.lname }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Birthdate</td>
                                                                    <td>:</td>
                                                                    <td>{{ resident.bdate }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Address</td>
                                                                    <td>:</td>
                                                                    <td>{{ resident.address_line1 }}, {{ resident.purok }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock %}


{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {# INPUT MASK #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/inputmask.js" integrity="sha512-u9G5WcQXGaw9PgODOBfc5X5AjuWWJJKEUtuEfRAUPJf/SJZ40muyH7hOAFTlplwkEG3jC8PKurH/oSzQP975ng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.js" integrity="sha512-yUwPZS7XBCeFJsjU9IKl/bUCpWNnFv449g6/ieJKudXqqQu3550ZtEnONSiVNOEGu9Xhmz6rzMAtU2I06KEeRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/bindings/inputmask.binding.js" integrity="sha512-J6WEJE0No+5Qqm9/T93q88yRQjvoAioXG4gzJ+eqZtLi+ZBgimZDkTiLWiljwrwnoQw+xwECQm282RJ6CrJnlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        $('.text_input').focus(function(){
            $('.text_input').inputmask({
                regex: "[a-zA-Z ]*",
                greedy: false,
                onBeforePaste: function (pastedValue, opts) {
                    pastedValue = pastedValue.toLowerCase();
                    return pastedValue.replace("rn", " ");
                }
            });
        });


        $('.mob_no').focus(function(){
            $('.mob_no').inputmask({
                regex: "[0-9]*",
                greedy: false,
                onBeforePaste: function (pastedValue, opts) {
                    pastedValue = pastedValue.toLowerCase();
                    return pastedValue.replace("rn", " ");
                }
            });
        });

        document.getElementById('resident_photo_input').onchange = (e) => {
            document.getElementById('official_photo_view').setAttribute('src', URL.createObjectURL(e.target.files[0]))
        }
    </script>

{% endblock %}
