{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Officials {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/style.min.css' %}">
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Officials</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">List of Officials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-xl-9">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>List</h5>
                                            {% if request.user.profile.account_type == 'CHAIRMAN' %}
                                                <a href="{% url 'official_add' %}" class="btn btn-outline-primary float-right"><i class="fas fa-plus"></i>Add New Official </a>
                                            {% endif %}
                                        </div>
                                        <div class="card-block table-border-style">
                                            {% for message in messages %}
                                                {% if 'success' in message.tags %}
                                                    <p class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% else %}
                                                    <p class="alert alert-warning" role="alert"><span style="font-weight:bold">{{ message }}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="table-responsive">
                                                <table id="example1" class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Fullname</th>
                                                        <th>Position</th>
                                                        <th>Date Appointed</th>
                                                        <th>End of Term</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                        <th>Date Added</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for official in officials %}
                                                        <tr>
                                                            <td><img class="rounded-circle m-r-15" src="{{ official.fullname.photo.url }}" style="width: 50px">{{ official.fullname.fullname }}</td>
                                                            <td>{{ official.position }}</td>
                                                            <td>{{ official.date_appointed }}</td>
                                                            <td>{{ official.end_term }}</td>
                                                            <td>
                                                                {% if official.status == 'ACTIVE' %}
                                                                    <p><i class="fas fa-circle text-c-green f-10"></i>&nbsp;ACTIVE</p>
                                                                {% else %}
                                                                    <p><i class="fas fa-circle text-c-red f-10"></i>&nbsp;INACTIVE</p>
                                                                {% endif %}
                                                            <td>
                                                                <a class="btn btn-icon btn-outline-primary" href="{% url 'official_view' official.id %}" title="View"><i class="feather icon-check-circle"></i></a>
                                                            </td>
                                                            <td>{{ official.date_added }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Filter</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group row" bis_skin_checked="1">
                                                <label class="col-3 col-form-label" style="font-weight: bold">Position</label>
                                                <div class="col-9" bis_skin_checked="1">
                                                    <div class="" bis_skin_checked="1">
                                                        <input class="" name="group1" type="radio" value="chk_all" id="chk_all">
                                                        <label class="" for="chk_all">
                                                            All
                                                        </label>
                                                    </div>
                                                    <div class="" bis_skin_checked="1">
                                                        <input class="" name="group1" type="radio" value="chk_brgy" id="chk_brgy">
                                                        <label class="" for="chk_brgy">
                                                            Barangay Officials
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <input class="" name="group1" type="radio" value="chk_sk" id="chk_sk">
                                                        <label class="" for="chk_sk">
                                                            SK Officials
                                                        </label>
                                                    </div>
                                                </div>
                                                <hr class="w-100">
                                                <label class="col-3 col-form-label" style="font-weight: bold">Status</label>
                                                <div class="col-9" bis_skin_checked="1">
                                                    <div class="" bis_skin_checked="1">
                                                        <input class="" name="group2" type="radio" value="chk_all1" id="chk_all1">
                                                        <label class="" for="chk_all1">
                                                            All
                                                        </label>
                                                    </div>
                                                    <div class="" bis_skin_checked="1">
                                                        <input class="" name="group2" type="radio" value="chk_active" id="chk_active">
                                                        <label class="" for="chk_active">
                                                            Active
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <input class="" name="group2" type="radio" value="chk_inactive" id="chk_inactive">
                                                        <label class="" for="chk_inactive">
                                                            Inactive
                                                        </label>
                                                    </div>
                                                </div>

{#                                                <label class="col-3 col-form-label" style="font-weight: bold">Term (Range)</label>#}
{#                                                <div class="col-9" bis_skin_checked="1">#}
{#                                                    <div class="">#}
{#                                                        <input class="form-control" type="text" id="min" placeholder="from">#}
{#                                                        <br>#}
{#                                                        <input class="form-control" type="text" id="max" placeholder="To">#}
{#                                                    </div>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- [ Main Content ] end -->
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {#    <script src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>#}
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "paging": true, 'order': [[ 6, "desc" ]], 'pageLength': 5,
                buttons:[{
                    extend: 'collection',
                    text: 'Export',
                    buttons: [{
                        extend: 'excel',
                        text: 'Excel',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    },
                        {
                            extend: 'pdf',
                            text: 'PDF',
                            exportOptions: {
                                columns: ':visible:not(:last-child)'
                            },
                            customize: function (doc) {
                                doc.content[1].table.widths =
                                    Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                            }
                        },
                        {
                            extend: 'print',
                            text: 'Print',
                            exportOptions: {
                                columns: ':visible:not(:last-child)'
                            }
                        },
                    ],
                },
                    {
                        extend: 'colvis',
                        text: 'Column Visibility'
                    },
                    {
                        extend: 'collection',
                        text: 'Filter',
                        buttons: [{
                            text: 'All Officials',
                            action: function (e, dt, node, config) {
                                dt.search('').columns().search('').draw();
                            }
                        },
                            {
                                text: 'Barangay Officials',
                                action: function (e, dt, node, config) {
                                    dt.columns(1).search('BARANGAY').draw();
                                }
                            },
                            {
                                text: 'SK Officials',
                                action: function (e, dt, node, config) {
                                    dt.columns(1).search('SK').draw();
                                }
                            },
                            {
                                text: 'Active Officials',
                                action: function (e, dt, node, config) {
                                    var searchTerm = 'Active',
                                        regex = '\\b' + searchTerm + '\\b';
                                    dt.columns(4).search(regex, true, false).draw();
                                }
                            },
                            {
                                text: 'Inactive Officials',
                                action: function (e, dt, node, config) {
                                    dt.columns(4).search('Inactive').draw();
                                }
                            },
                        ]
                    }
                ],
                columnDefs:[
                    {'visible': false, 'targets': [6]}
                ]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>
        //close alert after 3 seconds
        window.setTimeout(function() {
            $(".alert").fadeTo(300, 0).slideUp(300, function(){
                $(this).remove();
            });
        }, 3000);
    </script>

    <script>
        $(document).ready(function(){
            $('input[type="radio"]').click(function(){
                if($(this).attr("value")=="chk_all" || $(this).attr("value")=="chk_all1"){
                    $("#example1").DataTable().search('').columns().search('').draw();
                }
                if($(this).attr("value")=="chk_brgy"){
                    $("#example1").DataTable().columns(1).search('BARANGAY').draw();
                }
                if($(this).attr("value")=="chk_sk"){
                    $("#example1").DataTable().columns(1).search('SK').draw();
                }
                if($(this).attr("value")=="chk_active"){
                    $("#example1").DataTable().columns(4).search('Active').draw();
                }
                if($(this).attr("value")=="chk_inactive"){
                    $("#example1").DataTable().columns(4).search('Inactive').draw();
                }

                if($(this).attr("value")=="chk_all" && $(this).attr("value")=="chk_active"){
                    $("#example1").DataTable().columns(4).search('Active').draw();
                }
                if($(this).attr("value")=="chk_all" && $(this).attr("value")=="chk_inactive"){
                    $("#example1").DataTable().columns(4).search('Inactive').draw();
                }

                if($(this).attr("value")=="chk_brgy" && $(this).attr("value")=="chk_active"){
                    $("#example1").DataTable().columns(1).search('BARANGAY').columns(4).search('Active').draw();
                }
                if($(this).attr("value")=="chk_brgy" && $(this).attr("value")=="chk_inactive"){
                    $("#example1").DataTable().columns(1).search('BARANGAY').columns(4).search('Inactive').draw();
                }
                if($(this).attr("value")=="chk_sk" && $(this).attr("value")=="chk_active"){
                    $("#example1").DataTable().columns(1).search('SK').columns(4).search('Active').draw();
                }
                if($(this).attr("value")=="chk_sk" && $(this).attr("value")=="chk_inactive"){
                    $("#example1").DataTable().columns(1).search('SK').columns(4).search('Inactive').draw();
                }
                if($(this).attr("value")=="chk_all" && $(this).attr("value")=="chk_brgy"){
                    $("#example1").DataTable().columns(1).search('BARANGAY').draw();
                }
                if($(this).attr("value")=="chk_all" && $(this).attr("value")=="chk_sk"){
                    $("#example1").DataTable().columns(1).search('SK').draw();
                }

            });
        });


    </script>
{% endblock javascripts %}
