{% extends "layouts/base.html" %}

{% block title %} Officials {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .border-start {
            border-left: 1px solid #dee2e6!important;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">
                                            Official - {{ official_name }}
                                        </h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'hotlines' %}">List of Officials</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">
                                            View - {{ official_name }}
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-body">
                        <div class="page-wrapper">
                            <form class="row" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-sm-5">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Official Information</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row mb-3 align-items-center">
                                                <div class="col-sm-3 text-center">
                                                    <img src="{{ official.photo.url }}" alt="Official Photo" class="img-fluid rounded-circle">
                                                </div>
                                                <div class="col-sm-9 border-start">
                                                    <h3 class="mb-5">{{ official.fname }}&nbsp;{{ official.mname }}&nbsp;{{ official.lname }}&nbsp;{{ official.ext_name }}</h3>
                                                    <p class="mb-1">Position:&nbsp;{{ official.position }}</p>
                                                    <p class="mb-1">Start Term:&nbsp;{{ official.start_term}}</p>
                                                    <p class="mb-1">End Term:&nbsp;{{ official.end_term }}</p>
                                                    <p class="mb-1">
                                                        {% if official.status == 'ACTIVE' %}
                                                            <p>Status:&nbsp;<i class="fas fa-circle text-c-green f-10"></i>&nbsp;ACTIVE</p>
                                                        {% else %}
                                                            <p>Status:&nbsp;<i class="fas fa-circle text-c-red f-10"></i>&nbsp;INACTIVE</p>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mb-2 mt-2">
                                                <div class="form-group">
                                                    <a href="{% url 'official_edit' official.id %}" class="btn btn-primary float-right">
                                                        <i class="fa fa-save"></i> Update
                                                    </a>
                                                    <a href="{% url 'officials' %}" class="btn btn-light float-right"><i class="fa fa-arrow-left"></i> Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
