{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-md-6 col-xl-3">
                                    <div class="card order-card" style="background-color: #17a2b8">
                                        <div class="card-body" style="padding-bottom: 20px">
                                            <h4 class="text-white">Total Population</h4>
                                            <h1 class="text-end text-white"><i class="fas fa-users float-right"></i><span>0000</span></h1>
                                            <hr style="border:1px solid white">
                                            <a href="#"><h5 class="text-white m-b-0 text-center">More info <i class="fas fa-arrow-circle-right m-l-5"></i> </h5></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xl-3">
                                    <div class="card order-card" style="background-color: #28A72C">
                                        <div class="card-body" style="padding-bottom: 20px">
                                            <h4 class="text-white">Barangay Officials</h4>
                                            <h1 class="text-end text-white"><i class="fas fa-user-tie float-right"></i><span>0000</span></h1>
                                            <hr style="border:1px solid white">
                                            <a href="#"><h5 class="text-white m-b-0 text-center">More info <i class="fas fa-arrow-circle-right m-l-5"></i> </h5></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xl-3">
                                    <div class="card order-card" style="background-color: #fcc120">
                                        <div class="card-body" style="padding-bottom: 20px">
                                            <h4 class="text-white">Pending Certificates</h4>
                                            <h1 class="text-end text-white"><i class="fas fa-file-alt float-right"></i><span>0000</span></h1>
                                            <hr style="border:1px solid white">
                                            <a href="#"><h5 class="text-white m-b-0 text-center">More info <i class="fas fa-arrow-circle-right m-l-5"></i> </h5></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xl-3">
                                    <div class="card order-card" style="background-color: #dc3545">
                                        <div class="card-body" style="padding-bottom: 20px">
                                            <h4 class="text-white">Active Blotters</h4>
                                            <h1 class="text-end text-white"><i class="fas fa-gavel float-right"></i><span>0000</span></h1>
                                            <hr style="border:1px solid white">
                                            <a href="#"><h5 class="text-white m-b-0 text-center">More info <i class="fas fa-arrow-circle-right m-l-5"></i> </h5></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Statistic</h5>
                                        </div>

                                        <div class="card-block">
                                            <div class="row">

                                                <div class="col-sm-5 mb-4">
                                                    <div class="form-group">
                                                        <canvas id="population_per_gender" style="width: 100%"></canvas>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5 mb-4">
                                                    <div class="form-group">
                                                        <canvas id="population_per_purok" style="width: 100%"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}